/*
 * background:  #f7f8f3
 * foreground:  #373239
 * link: #2b77b8  #1e527f (visited)
 */

html {
	overflow-y: scroll;
	font-family: Bookerly, "Liberation Serif", "Droid Serif", Inconsolata, serif;

	/* normalize.css */
	line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}

body {
	font-size: 18px;
	color: #373239;
	background: #777875;
}

header, section, article {
	box-sizing: border-box;
	padding: 1em;
	max-width: 50em;
	margin: 0 auto;

	/* normalize.css  */
	display: block;
	background: #f7f8f3;
}

/* normalize.css: fixes some safari issues (KEEP BOTH) */
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
img { border-style: none; }

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  color: #2b77b8;
}

a:visited {
	color: #1e527f;
}

a:active,
a:hover {
  outline-width: 0;
}

h1 {
	/* normalize.css */
	font-size: 2em;
	margin: 0.67em 0;
}

code, pre, figure.highlight {
	font-family: Inconsolata, "Liberation Mono", "Droid Sans Mono", monospace;
	/* normalize.css */
	font-size: 1em;
}

article {
	border-top: 1px solid #373239;
	border-bottom: 1px solid #373239;
}

article h1:first-child {
	margin-top: 0;
	padding-top: 1em;
}

article > p {
	text-align: justify;
	margin-left:  1em;
	margin-right: 1em;
}

article > p.subh {
	text-align: left;
	margin: 2em 0;
	margin-top: -1em;
	font-size: 0.9em;
}

div.highlighter-rouge {
	overflow-x: visible;
}

div.highlighter-rouge, figure.highlight {
	background: #fefffa;
	margin: 0 -1em;
	padding: 0.1em 1em;
}
