html {
	overflow-y: scroll
}

body {
	font: 18px "Droid Serif", Inconsolata, serif;
	margin: 20px 80px;
	color: #4b4b4b;
	background: #f0f0f0;
	line-height: 140%;
}

p {
	text-align: justify;
}

.highlight {
	margin: 0 -20px;
	padding: 0 20px;
	background; #eee;
	border-top:    1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 82%;
	font-family: "Droid Sans Mono", monospace;
}
