html {
	overflow-y: scroll
}

body {
	font: 18px "Liberation Serif", "Droid Serif", Inconsolata, serif;
	/*margin: 20px 80px;*/
	color: #3b3b3b;
	background: #e0e0e0;
	line-height: 140%;
}

p {
	text-align: justify;
}

.page-contents {
	background: #f2f2f2;
	margin: 1em auto;
	max-width: 210mm;
	padding: 1em 2em;
}

code, .highlight, .page-contents > pre {
	font-family: "Liberation Mono", "Droid Sans Serif", monospace;
	font-size: 82%;
}

.highlight, .page-contents > pre {
	margin: 0 -20px;
	padding: 0 20px;
	border-top:    1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background; #eeeeee;
}


blockquote {
	background: #d0d0d0;
}

a:link {
	color: #2f76d7;
}
a:visited {
	color: #6c6c6c;
}


