<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>{{ page.title }} - {{ site.title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link
		href="//fonts.googleapis.com/css?family=Droid+Serif:regular,bold,italic|Droid+Sans+Mono:regular,bold,italic" rel="stylesheet" type="text/css">
		<link media="all" href="/style.css" type="text/css" rel="stylesheet" />
		<link media="all" href="/hl.css" type="text/css" rel="stylesheet" />
		<!--<link rel="shortcut icon" href="../rms.png" />-->
	</head>

	<body>
		<div class="page-contents">
			<div><a name="top"><b>heuripedes</b></a> - <a href="/">home</a></div>
